* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    margin: 0 200px;
}

.image-div {
    width: 530px;
    height: 100vh;
    background-image: url('images/milad-fakurian-_zSZVxZWhkY-unsplash.jpg');
    background-position: center;
    background-size: cover;
}